<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SmtpServiceHost" value="127.0.0.1" />
    <add key="SmtpServicePort" value="4855" />
    <add key="WebServiceHost" value="http://127.0.0.1:4856" />
    <add key="UserInterfaceUri" value="https://jgett.github.io/smtpforme/inbox" />
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
</configuration>